{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  

    <h1>
        NOSOTROS
    </h1>
    <p style="text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;">
      Bienvenido a nuestra tienda de bicicletas, donde la pasión por el ciclismo nos mueve. Fundada en 2024, nos dedicamos a ofrecer las mejores bicicletas y accesorios para todos los entusiastas del ciclismo, desde principiantes hasta expertos.
    </p>
    <p style="text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;">
      En nuestra tienda, encontrarás un ambiente acogedor y un equipo de expertos listos para ayudarte a encontrar la bicicleta perfecta para ti. Ofrecemos una amplia gama de bicicletas, desde modelos de carretera y montaña hasta bicicletas eléctricas y urbanas.
    </p>
    <p style="text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;">
      Además, nuestra tienda no solo se trata de ventas; también ofrecemos servicios de mantenimiento y reparación para asegurar que tu bicicleta esté siempre en óptimas condiciones. Creemos en la importancia de una comunidad ciclista fuerte y por eso organizamos eventos y rutas para todos nuestros clientes.
    </p>
  </div>

<br>
<br>


<div class="container-fluid ms-auto">
  <div class="row">
      <div class="col ">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/emp1.jpg' %}" style="width: 287px; height: 350px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sebastian Cavieres</h5>
            <h5 class="card-title">Encargado Legal y de Cumplimientos</h5>
            <p class="card-text">Encargado de garantizar que la tienda cumpla con todas las regulaciones y leyes pertinentes, así como de gestionar cualquier problema legal que pueda surgir.</p>
            
          </div>
        </div>
      </div>
      <div class="col ">
          <div class="card" style="width: 18rem; margin-bottom: 50px;">
              <img src="{% static 'core/img/p2.jpg' %}" style="width: 287px; height: 350px;"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">María García</h5>
                <h5 class="card-title">Especialista en Marketing digital</h5>
                <p class="card-text">Encargado de promocionar la tienda y sus productos en línea, utilizando estrategias como publicidad en redes sociales, optimización de motores de búsqueda (SEO) y marketing por correo electrónico.</p>
                
              </div>
            </div>
          </div>
      <div class="col ">

              <div class="card" style="width: 18rem;">
                  <img src="{% static 'core/img/emp3.jpg' %}" style="width: 287px; height: 350px;" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Víctor Barrientos</h5>
                    <h5 class="card-title">Gerente Ejecutivo</h5>
                    <p class="card-text">Encargado de la supervisión y gestión general de la tienda, estableciendo estrategias y tomando decisiones clave.</p>
                    
                  </div>
                </div>
          </div>
      <div class="col ">

        <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/p4.jpg' %}" style="width: 287px; height: 350px;" class="card-img-top card-img-center" alt="...">
          <div class="card-body">
            <h5 class="card-title">Carlos López</h5>
            <h5 class="card-title">Especialistas en Atención al Cliente</h5>
            <p class="card-text">Encargado de brindar soporte y asistencia a los clientes, respondiendo preguntas, resolviendo problemas y gestionando devoluciones.</p>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>



    
{% endblock content %}