{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  

<div class="container-fluid">
  <h1>
      NOSOTROS
  </h1>
  <br>
  <p>
    ¡Hey, hola! ¡Bienvenidos a Fentanyl Games, donde la diversión es nuestra especialidad y los juegos son nuestra droga! Soy el encargado de este paraíso digital, donde cada clic es una oportunidad para sumergirse en mundos llenos de emoción y aventura.

    Al entrar en nuestra tienda, te recibirán colores vibrantes y personajes encantadores que te invitarán a explorar. Desde clásicos nostálgicos hasta las últimas novedades, tenemos algo para cada tipo de jugador. ¿Buscas acción frenética? Tenemos juegos que harán latir tu corazón más rápido que un jefe final. ¿Prefieres relajarte con algo más tranquilo? Descubre nuestras opciones que te harán sonreír y desconectar del mundo real.
   
    En Fentanyl Games, no solo vendemos juegos, ¡creamos experiencias! Nuestra comunidad es el corazón de todo lo que hacemos. Únete a nuestros eventos, charla con otros jugadores en nuestros foros o simplemente pasa el rato y comparte tus momentos épicos. Porque aquí, todos somos una gran familia unida por nuestra pasión por los videojuegos.
    
    Y no te preocupes por los detalles técnicos, estamos aquí para hacer que tu experiencia sea lo más suave posible. Desde la compra hasta la instalación, te guiaremos en cada paso del camino, ¡para que puedas empezar a jugar enseguida!</p>

    Así que adelante, aventureros digitales, ¡explora nuestras estanterías virtuales y descubre un mundo de diversión en Fentanyl Games! ¡Gracias por visitarnos y que tus partidas sean llenas de risas y aventuras!
  </p>
</div>

<br>
<br>


<div class="container-fluid ms-auto">
  <div class="row">
      <div class="col ">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/emp1.jpg' %}" style="width: 287px; height: 350px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sebastian Cavieres</h5>
            <h5 class="card-title">Encargado Legal y de Cumplimientos</h5>
            <p class="card-text">Encargado de garantizar que la tienda cumpla con todas las regulaciones y leyes pertinentes, así como de gestionar cualquier problema legal que pueda surgir.</p>
            
          </div>
        </div>
      </div>
      <div class="col ">
          <div class="card" style="width: 18rem; margin-bottom: 50px;">
              <img src="{% static 'core/img/p2.jpg' %}" style="width: 287px; height: 350px;"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Nehemias Azocar</h5>
                <h5 class="card-title">Especialista en Marketing digital</h5>
                <p class="card-text">Encargado de promocionar la tienda y sus productos en línea, utilizando estrategias como publicidad en redes sociales, optimización de motores de búsqueda (SEO) y marketing por correo electrónico.</p>
                
              </div>
            </div>
          </div>
      <div class="col ">

              <div class="card" style="width: 18rem;">
                  <img src="{% static 'core/img/emp3.jpg' %}" style="width: 287px; height: 350px;" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Víctor Barrientos</h5>
                    <h5 class="card-title">Gerente Ejecutivo</h5>
                    <p class="card-text">Encargado de la supervisión y gestión general de la tienda, estableciendo estrategias y tomando decisiones clave.</p>
                    
                  </div>
                </div>
          </div>
      <div class="col ">

        <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/p4.jpg' %}" style="width: 287px; height: 350px;" class="card-img-top card-img-center" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hector Torres</h5>
            <h5 class="card-title">Especialistas en Atención al Cliente</h5>
            <p class="card-text">Encargado de brindar soporte y asistencia a los clientes, respondiendo preguntas, resolviendo problemas y gestionando devoluciones.</p>
          </div>
        </div>
      </div>
  </div>
</div>
</div>



    
{% endblock content %}