{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}


<div class="container border border-dark p-4">
<h2 class="text-center">Registro de Usuario</h2>
  <form id="form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="row">

      <!-- AREA DE DATOS BASICOS: username, nombre, apellidos, correo y contraseñas -->
      <div class="col">

        {{form_usuario|as_bootstrap_form:'help_text_visible=False' }}



      <!-- AREA DE DATOS DE PERFIL: rut, dirección y subscrito (VER COMENTARIO "CHECKBOX SUBSCRITO" en script.js)  -->


        {{ form_perfil|as_bootstrap_form }}

      </div>

      <!-- AREA DE IMAGEN DE PERFIL -->
      <div class="col-sm-12 col-md-3 text-center">
        <div class="row">
          <!-- AREA DE CUADRO DE IMAGEN: Muestra la Imagen de perfil -->
          <div class="col-sm-12" style="height: 220px">
            <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.jpg' %}">
          </div>
        </div>
      </div>

    </div>

    <!-- AREA DE BOTONES -->
    <div class="mt-2 mb-3 text-center">
      
      <button type="submit" class="btn btn-primary"> Registrarme </button>
      
      <!-- Boton para "Limpiar formulario" (VER COMENTARIO "BOTON LIMPIAR FORMULARIO" en script.js) -->
      <button type="reset" id="limpiar_formulario" class="btn btn-success"> Limpiar </button>
      
      <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
      <button class="btn btn-info"onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  
      
      <!-- Botón para "Crear usuario de prueba" (VER COMENTARIO "CREAR USUARIO DE PRUEBA" en registrarme.js) -->
      <button id="crear_usuario_prueba" class="btn btn-primary"> Crear usuario de prueba </button>

    </div>
  </div>
  </form>
</div>

<br>
<br>
<br>
<br>
<br><br>

<br>
{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/validador_registro.js' %}"></script>
{% endblock script %}